@charset "utf-8";

*{margin:0;padding:0;}

ul li{list-style:none;}
a:link{text-decoration:none;color:#ececec;}
body{background-color:none;font-family:"바탕";}


#top1{position:fixed;width:100%;
	opacity:0.7;height:85px;background:none;z-index:99;}
#top1 ul li{display:inline-block;margin-left:25px;font-size:18px;	
	font-family:"Cambria Math";font-weight:bold;}
#top1 ul li a{position:relative; }
#top1 ul li a:visited{color:#ececec;}
#top1 ul li a:after{content:"";position:absolute;
	background:#86745e;height:3px;width:0;left:0;bottom:-10px;
	transition:0.3s;}
#top1 ul li a:hover:after{width:100%;}
#top1 ul li a:hover{color:#f3e29d;}



#menu1{float:left;position:relative;top:38px;left:45px;}
#menu2{float:right;position:relative;top:-50px;left:-100px;}


#logo1{width:100%;margin-left:50%}
	
#pick{width:50px;height:50px;margin-top:20px;padding-top:20px;background:none;
	position:relative;right:-1808px;top:-105px;}
	
	
/*********************************************/

#container{width:100%;}

#container .main_visual{position:relative;overflow:hidden;padding-bottom:56.25%;
	z-index:1}


#container .main_visual video{min-width:100%; min-height:100%;
	position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
	
	
/***********************************************/



#container2{width:380px;position:absolute;margin-left:41% ;
	margin-top:-43%;border-radius:25px;position:fixed;
	background-color:rgba(0,0,0,0.1);box-shadow:0 0 15px #333;z-index:2}
	
.header{text-align:center;padding-top:75px;}

.header h1{color:#333;font-size:45px;margin-bottom:80px;}

.main{text-align:center;}

.main input, button{width:300px;height:40px;border:none;outline:none;
	padding-left:40px;box-sizing:border-box;font-size:15px;color:#333;
	margin-bottom:40px;}
	
.main button{padding-left:0;background-color:#f0e6c0;letter-spacing:1px;
	font-weight:bold;}
	
.main button:hover{box-shadow:2px 2px 5px #555;background:#f3e29d;}	

.main input:hover{box-shadow:2px 2px 5px #555;background:#ddd;}

.main span{position:relative;}

.main img{position:absolute;width:23px;height:23px;opacity:0.7;
	left:8px;color:#333;font-size:16px;top:-2px;}
	
.main p {font-size:14px;margin:0 0 20px 0;
	color:#333;font-style:italic;font-weight:bold}
	
.main p:hover {text-decoration:underline;cursor:pointer}